<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- シートタイプ指定行 -->
    <add key="range_SheetTypeString" value="1:1"/>
    <add key="header_SheetTypeString" value="SheetType"/>
    <add key="delimiter_SheetTypeString" value="-"/>

    <!-- UserDomain設定セル -->
    <add key="address_Domain" value="address_Domain_"/>
    <add key="address_Domain_T01S" value="Z3"/>
    <add key="address_Domain_T01D" value="AH3"/>

    <!-- シートタイプ シート種類 -->
    <add key="key_SummarySheet" value="S"/>
    <add key="key_DetailSheet" value="D"/>

    <!-- 明細シート -->
    <add key="range_DetailLineToCopy" value="A2:AF2"/>
    <add key="range_SubTotalLineToCopy" value="A3:AF3"/>



  </appSettings>  
</configuration>