<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- シートタイプ指定行 -->
    <add key="row_shType" value="1:1"/>
    <add key="hdr_shTypeString" value="SheetType"/>
    <add key="hdr_shTypeString_Split" value="-"/>

    <!-- UserDomain設定セル -->
    <add key="row_Domain" value="row_Domain_"/>
    <add key="col_Domain" value="col_Domain_"/>

    <add key="row_Domain_T01S" value="3"/>
    <add key="col_Domain_T01S" value="26"/> <!-- Z -->
    
    <add key="row_Domain_T01D" value="3"/>
    <add key="col_Domain_T01D" value="34"/> <!-- AH -->


    <!-- 鑑　シートタイプ -->
    <add key="shSummary" value="S"/>
    <add key="shDetail" value="D"/>




    <!-- 鑑　シートタイプ -->
    <add key="S-01" value="0"/>
    <add key="S-02" value="1"/>
    <add key="S-02" value="2"/>

    <!-- 明細　シートタイプ -->
    <add key="D-01" value="0"/>
    <add key="D-02" value="1"/>
    <add key="D-02" value="2"/>


    <!-- シートタイプ セルのアドレス -->
    <add key="col_sheet_type" value="1" />
    <add key="row_sheet_type" value="1" />

    <!-- シートタイプ 鑑-->
    <add key="shType_Summary" value="S-01"/>
    <add key="shType_Summary" value="S-02"/>
    <add key="shType_Summary" value="S-03"/>

    <!-- シートタイプ 明細-->
    <add key="shType_Detail" value="D-01"/>
    <add key="shType_Detail" value="D-02"/>
    <add key="shType_Detail" value="D-03"/>


  </appSettings>  
</configuration>